#root {
  margin: 0 auto;
  height: 100svh;
  scrollbar-color: transparent transparent;
  /* var(--background) var(--primary); */

}

.wrapper {
  min-width: 320px;
  height: 100svh;
  min-height: 480px;
  max-height: 100svh;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 2em 2em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}

.title {
  text-shadow: 0 0 10px var(--primary);
  text-align: center;
}


.content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  max-height: 100%;
  padding-bottom: 2em;
  overflow: auto;
  box-sizing: content-box;
}

.selection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: fit-content;
  position: absolute;
  top: 0;
  container-type: inline-size;
  width: inherit;
  overflow: visible;
  padding: 2em;
}

.selection>* {
  flex: 0;
}


.bubble {
  animation: bubble 0.8s ease-in-out forwards;
  background-color: var(--primary);
  border-radius: 1em;
  color: var(--text);
  gap: 1em;
  padding: 1em;
  margin: 1em;
  aspect-ratio: 1 / 1;
  min-width: 10em;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 10px var(--text) inset, 0 -30px 80px var(--background) inset,
    0 2px 2px var(--accent1) inset, 0 1px 1px var(--primary),
    0 0px 15px var(--accent4);
  transition: transform 400ms ease-out;
  transform-style: preserve-3d;

  &:hover,
  &:focus-visible {
    transform: translateY(-0.5em);
    box-shadow: 0 0 10px var(--text) inset, 0 2px 2px inset var(--accent1),
      0 1px 1px var(--primary), 0 -30px 80px var(--background) inset,
      0 0px 25px var(--accent4);
  }
}

@keyframes bubble {
  0% {
    opacity: 0;
    transform: translateY(10svh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bubble>* {
  text-align: center;
}

.help {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2em;
}

/* .header {
margin: 1rem;
} */

.footer {
  position: absolute;
  bottom: 0;
}

@container (inline-size < 448px) {

  .selection>.bubble:last-child {
    margin-bottom: 6em;
  }

  .selection>.bubble:first-child {
    margin-top: 1em;
  }
}

@media (min-width: 735px) {
  .selection:not(.history) {
    height: fit-content;
    top: unset;
    margin-bottom: 4em;
  }
}

.about {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background-color: var(--primary);
  padding: 1em;
  border-radius: 1em;
  box-shadow:
    0 -1em 2em var(--background) inset, 0 0em 0.3em var(--text), 0 1em 2em var(--background);
  align-items: space-between;
}

::-webkit-scrollbar {
  width: 1em;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, var(--primary), var(--accent1));
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.1em var(--text) inset,
    -0.1em -0.1em 0.1em var(--background) inset;
}

::-webkit-scrollbar-corner {
  display: none;
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
}

a:hover {
  color: var(--text);
}

body {
  margin: 0;
  min-height: 100svh;
  user-select: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--text)
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.--1 {
  background-color: var(--1);
}

.--2 {
  background-color: var(--2);
}

.--3 {
  background-color: var(--3);
}

.--4 {
  background-color: var(--4);
}

.--5 {
  background-color: var(--5);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --text:#0a0d22;
    --background:#fffbeb;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */