#root {
  margin: 0 auto;
  height: 100svh;
}
.wrapper {
  min-width: 320px;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.title {
  text-shadow: 0 0 10px var(--primary);
}

.bubble {
  background-color: rgba(var(--custom-color), 0.1);
  border-radius: 50%;
  gap: 1em;
  padding: 2em;
  margin: 1em;
  aspect-ratio: 1 / 1;
  min-width: 10em;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 10px var(--text) inset, 0 -30px 80px var(--background) inset,
    0 2px 2px var(--accent1) inset, 0 1px 1px var(--primary),
    0 0px 15px var(--accent4);
  transition: 400ms ease-out;
  transform-style: preserve-3d;
  &:hover,
  &:focus-visible {
    transform: translateY(-0.5em);
    box-shadow: 0 0 10px var(--text) inset, 0 2px 2px inset var(--accent1),
      0 1px 1px var(--primary), 0 -30px 80px var(--background) inset,
      0 0px 25px var(--accent4);
  }
}
.header {
  position: absolute;
}
.content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  flex: 1;
}
