#root {
  margin: 0 auto;
  height: 100svh;
  scrollbar-color:
    var(--background) var(--primary);
  scroll
}
.wrapper {
  min-width: 320px;
  height: 100svh;
  min-height: 480px;
  max-height: 100svh;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  left: 0;
  top:0;
  bottom: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.title {
  text-shadow: 0 0 10px var(--primary);
  text-align: center;
  margin: 0;
}

.bubble {
  background-color: var(--primary);
  border-radius: 1em;
  color: var(--text);
  gap: 1em;
  padding: 2em;
  margin: 1em;
  aspect-ratio: 1 / 1;
  min-width: 10em;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 10px var(--text) inset, 0 -30px 80px var(--background) inset,
    0 2px 2px var(--accent1) inset, 0 1px 1px var(--primary),
    0 0px 15px var(--accent4);
  transition: 400ms ease-out;
  transform-style: preserve-3d;
  &:hover,
  &:focus-visible {
    transform: translateY(-0.5em);
    box-shadow: 0 0 10px var(--text) inset, 0 2px 2px inset var(--accent1),
      0 1px 1px var(--primary), 0 -30px 80px var(--background) inset,
      0 0px 25px var(--accent4);
  }
}
.header {
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 0;
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  flex: 1;
  margin: 6em;
  width: 100%;
  max-height: 100%;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background-color: var(--background);
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, var(--primary), var(--accent1));
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.1em var(--text) inset,
  -0.1em -0.1em 0.1em var(--background) inset;
}
::-webkit-scrollbar-corner{
  display: none;
}
