:root {
  font-family: system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: normal;
  color: var(--text);
  background-image: url(src/Assets/texture.jpg), radial-gradient(circle at top, var(--background) 90%, #000000 100%);
  background-size: cover;
  background-blend-mode: multiply;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --text: #fffbeb;
  --background: #0a0d22;
  --primary: rgb(124, 59, 119);
  --secondary: #463345;
  --accent1: #c6aa39;
  --accent2: #4b57af;
  --accent3: #c82dc0;
  --accent4: #5e34b2;
  --link: #B6B8F5;
  --1: #a81f15;
  --2: #a84b15;
  --3: #a8a615;
  --4: #37a815;
  --5: #1579a8;
}