:root {
  font-family: system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text);
  background-image: radial-gradient(circle at top , var(--background) 90%, #000000 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --text: #fffbeb;
  --background: #0a0d22;
  --primary: rgb(124, 59, 119);
  --secondary: #463345;
  --accent1: #c6aa39;
  --accent2: #4b57af;
  --accent3: #c82dc0;
  --accent4: #5e34b2;
  --link: #B6B8F5;
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
 
}
a:hover {
  color: var(--text);
}

body {
  margin: 0;
  min-height: 100svh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
