.content>*>.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin: 1em;
  box-shadow: 0 -1em 2em var(--background) inset, 0 0em 0.3em var(--text);
  aspect-ratio: 1/1;
  height: 6em;
  border-radius: 1em;
  position: relative;
  animation: entryFade 1.5s forwards;
  &:hover,
  &:focus-visible {
    box-shadow:
      0 -1em 2em var(--background) inset, 0 0em 0.3em var(--text),
      0 0px 25px var(--accent4);
  }

  &.viewing {
    animation: cardFlip 0.8s linear alternate both, colorFlip 0.8s steps(2, jump-none) both;
    height: 10em;
    width: 10em;
    box-sizing: border-box;
    padding: 1em 0.9em;
    box-shadow: 0 -0.5em 2em var(--background) inset, 0 0em 0.3em var(--text);

    &:hover,
    &:focus-visible {
      box-shadow:
        0 -0.5em 2em var(--background) inset, 0 0em 0.3em var(--text),
        0 0px 25px var(--accent4);
    }

    .date,
    .mood,
    .rating {
      animation: frontFlip 0.8s linear alternate both;
    }

    &>.factorList {
      animation: backFlip 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) alternate both;
      >.emptyFactors.none{
        animation: factorFade 1s ease forwards;
      }
    }
    
  }

  &.reverse {
    animation: cardFlipReverse 0.8s linear alternate both, colorFlipReverse 0.8s steps(2, jump-none) both;

    .date,
    .mood,
    .rating {
      animation: frontFlipReverse 0.8s linear alternate both;
    }

    &>.factorList {
      animation: backFlipReverse 0.8s cubic-bezier(0.12, 0, 0.39, 0) alternate both;
    }
  }
}

.factorList {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items:center;
  text-align: center;
  margin: 0;
  transform: rotateY(90deg);
  box-sizing: content-box;
  padding: 8px;


  >* {
    margin: 0 4px;
    font-size: medium;
    line-height: 1em;
    text-shadow: var(--text) 0 0 5px, var(--text) 0 0 5px, var(--text) 0 0 9px, var(--text) 0 0 20px;
  }
}

.factorList>.factor {
  background-color: transparent;
  word-wrap: normal;
  font-weight: 500;

  &.--1 {
    color: var(--1);
  }

  &.--2 {
    color: var(--2);
  }

  &.--3 {
    color: var(--3);
  }

  &.--4 {
    color: var(--4);
  }

  &.--5 {
    color: var(--5);

  }

}

.emptyFactors {
  color: var(--background);
}

@keyframes factorFade {
  0% {
    opacity: 0;
  }

  
}
.history {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

span {
  font-size: large;
}

.date {
  position: absolute;
  padding: 1em;
  top: 0;
  font-style: italic;
}

.mood {
  text-shadow: 0px 0px 0.2em var(--background);
  text-decoration: solid underline var(--primary);
}

.rating {
  position: absolute;
  bottom: 0;
  padding: 1em;
}

.refresh {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2em;
}

.back {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 2em;
  aspect-ratio: 1/1;
  transform: scale(0.9);
}

.clearButtons {
  display: flex;
  justify-content: center;
  flex: 1;
}

.loading {
  animation: loadFade 1.5s ease forwards;
  position: fixed;
  top: 7em;
}

button.clear {
  border-radius: 0.5em;
  margin: 0.5em;
  flex: 1;
}

@keyframes loadFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes entryFade {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes cardFlip {
  0% {
    transform: perspective(1000px) rotateY(0deg);

  }

  100% {
    transform: perspective(1000px) rotateY(180deg);
  }
}

@keyframes cardFlipReverse {
  0% {
    transform: perspective(1000px) rotateY(180deg);

  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes colorFlip {
  0% {}

  100% {
    background-color: currentColor;
  }
}

@keyframes colorFlipReverse {
  0% {
    background-color: currentColor;
  }

  100% {}
}

@keyframes frontFlip {
  0% {
    transform: perspective(1000px) rotateY(0deg)
  }

  50% {
    transform: perspective(1000px) rotateY(90deg)
  }

  100% {
    transform: perspective(1000px) rotateY(90deg)
  }
}

@keyframes frontFlipReverse {
  0% {
    transform: perspective(1000px) rotateY(270deg)
  }

  50% {
    transform: perspective(1000px) rotateY(270deg)
  }

  100% {
    transform: perspective(1000px) rotateY(360deg)
  }
}

@keyframes backFlip {
  0% {
    transform: perspective(1000px) rotateY(-90deg)
  }

  50% {
    transform: perspective(1000px) rotateY(-90deg)
  }

  100% {
    transform: perspective(1000px) rotateY(-180deg)
  }
}

@keyframes backFlipReverse {
  0% {
    transform: perspective(1000px) rotateY(-180deg)
  }

  50% {
    transform: perspective(1000px) rotateY(-270deg)
  }

  100% {
    transform: perspective(1000px) rotateY(-270deg)
  }
}