.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

.welcome {
    text-align: center;
    animation: fadeInOut 5s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
  
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }