.selection>.factor {
  flex: 0;
  flex-direction: column;
  text-align: center;
  transition: all 300ms ease-out;

  &:hover,
  &:focus-visible {
    transform: translateY(0);
    box-shadow: 0 0 10px var(--text) inset, 0 2px 2px inset var(--accent1),
      0 1px 1px var(--primary), 0 -30px 80px var(--background) inset,
      0 0px 25px var(--accent4);
  }
}

.question {
  background-color: var(--primary);
  text-align: center;
  width: max-content;
  height: 6em;
  padding: 2em;
  border-radius: 1em;
  font-size: 1em;
  font-weight: 500;
  box-shadow: 0 0 0em var(--text) inset, 0 -2em 4em var(--background) inset,
    0 0.1em 0.5em var(--accent1) inset, 0 1px 1px var(--primary),
    0 0px 0.5em var(--accent4);
}

.subfactor {
  margin: 2em auto;
  font-size: smaller;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

button.continue {
  line-height: 2em;
  aspect-ratio: 1/1;
  flex-direction: row;
  margin: 1em;
  background-color: transparent;
  box-shadow: 0 0 0.1em var(--background) inset;
}

.submit {
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  margin: 2em;
  width: fit-content;
  aspect-ratio: 1/1;
  box-shadow: 0 0 0em var(--text) inset, 0 -0.6em 1em var(--background) inset,
    0 0.1em 0.5em var(--accent1) inset, 0 1px 1px var(--primary),
    0 0px 0.5em var(--accent4);
}

button.close {
  border-radius: 0.5em;
  margin: 1em;
}

.note{
  background-color: var(--primary);
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  margin: 2em;
  width: fit-content;
  aspect-ratio: 1/1;
  box-shadow: 0 0 0em var(--text) inset, 0 -0.6em 1em var(--background) inset,
    0 0.1em 0.5em var(--accent1) inset, 0 1px 1px var(--primary),
    0 0px 0.5em var(--accent4);
    >*{
      margin: 0;
      width: 1em;
      height: 1em;
      background-color: transparent;
      fill: var(--text);
      /* filter: drop-shadow(0em 0.2em 0.2em var(--background)); */
    }
}


textarea{
  background-color: var(--background);
  color: var(--text);
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  border: none;
  font-family: system-ui;
  font-weight: 500;
  font-size: 1em;
  max-width: 26em;
  min-width: 26em;
  min-height: 2em;
  max-height: 26em;
  word-wrap: wrap;
}