.selection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* outline: 1px solid var(--text); */
  min-width: 10em;
  min-height: 10em;
}

.selection > .factor {
  
  flex: 0;
  flex-direction: column;
  /* font-size: larger; */
  text-align: center;
  &:hover,
  &:focus-visible {
    transform: translateY(0);
    box-shadow: 0 0 10px var(--text) inset, 0 2px 2px inset var(--accent1),
      0 1px 1px var(--primary), 0 -30px 80px var(--background) inset,
      0 0px 25px var(--accent4);
  }
}



.question {
  background-color: var(--primary);
  text-align: center;
  width: max-content;
  height: 6em;
  padding: 2em;
  border-radius: 1em;
  font-size: 1em;
  font-weight: 500;
  /* font-size: large; */
  /* top: calc(50% - 7em);
  z-index: -1; */
  box-shadow: 0 0 0em var(--text) inset, 0 -2em 4em var(--background) inset,
    0 0.1em 0.5em var(--accent1) inset, 0 1px 1px var(--primary),
    0 0px 0.5em var(--accent4);
}

.subfactor {
  margin: 2em auto;
  font-size: smaller;
  text-align: center;
  position: absolute;
  bottom: 0;
}
button.continue {
  line-height: 2em;
  aspect-ratio: 1/1;
  flex-direction: row;
  margin: 1em;
  background-color: transparent;
  box-shadow: 0 0 0.1em var(--background) inset;
}
.submit {
  background-color: var(--primary);
  position: relative;
  bottom: 0;
  margin: 2em;
  width: fit-content;
  aspect-ratio: 1/1;
  box-shadow: 0 0 0em var(--text) inset, 0 -0.6em 1em var(--background) inset,
    0 0.1em 0.5em var(--accent1) inset, 0 1px 1px var(--primary),
    0 0px 0.5em var(--accent4);
}

.--1 {
  background-color: var(--1);
}
.--2 {
  background-color: var(--2);
}
.--3 {
  background-color: var(--3);
}
.--4 {
  background-color: var(--4);
}
.--5 {
  background-color: var(--5);
}