#dragInput {
    width: 200px;
    display: flex;
    align-items: center;
    user-select: none;
  }
  
  .slider {
    width: 20px;
    height: 20px;
    background-color: #0077cc;
    cursor: grab;
    user-select: none;
  }
  
  #inputField {
    width: 40px;
    text-align: center;
    margin: 0 10px;
  }
  